body {
	padding: 0 !important;
}

.btn-secondary {
	background-color: #28a745 !important;
}

.left-col {
	text-align: left;
}

.right-col {
	text-align: right;
}

/* Breadcrumb Section */
/* ISO \00bb double-arrow to the right; \00ab, to the left; » */
.breadcrumb-custom .breadcrumb-item + .breadcrumb-item::before {
	content: "\00bb";
	color: #000000;
}

/* Table Section */
.tbl-header {
	background-color: #d6d8db;
}

.tbl-body {
	background-color: #c7edcc;
	border: 1px solid #ccc !important;
}

.table-bordered th,
.table-bordered td {
	border: 1px solid #ccc !important;
}

/* for scroll-to-top */

.scroll-to-top {
	position: fixed;
	bottom: 0.5rem;
	right: 0.5rem;
	animation: fadeIn 700ms ease-in-out 1s both;
	cursor: pointer;
	/* background-color: blue; */
	width: 30px;
	height: 30px;
	border-radius: 50%;
	text-align: center;
	color: white;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@media (max-width: 767px) {
	/* col-xs-* up to */
	.left-col {
		text-align: center;
	}

	.right-col {
		text-align: center;
	}
}
